- @game.mastermind.guesses.each do |guess|
  .bank
    - guess.code.each do |color|
      .cell.draggable{style: "background: #{color}", color: color}
    - guess.num_of_blacks.times do
      .tinycell{style: "background: black"}
    - guess.num_of_whites.times do
      .tinycell{style: "background: white"}
