#header
  %a{href: "https://github.com/hrigu/rails_3_1_sandbox"} code
  %a{href: "mailto:chmuehlethaler@freesurf.ch"} contact

#leftcont
  %img{:alt => "image description", :src => "/assets/mastermind.jpg"}
