- content_for :title do
  Mastermind - solved
.master
  = render partial: "secret_code", locals: {hidden: false}
.solver
  = render "board"
.left
  &nbsp;
.right
  .big
    Bravo!
= render partial: "back_link"