- content_for :title do
  Mastermind - solved
.master
  = render partial: "code", locals: {hidden: false}
.solver
  = render "board"
.left
  &nbsp;
.right
  .big
    Bravo!
.left
  &nbsp;
.right
  = link_to "new game", mastermind_path
