- content_for :title do
  Home

#notice
  Willkommen auf der Spielwiese
-#= link_to "Posts", :posts

= link_to "Mastermind", mastermind_path
%br
= link_to "Statemachine", statemachine_path

%br
= link_to "Ajax", ajax_path
