#header
  = link_to "Mastermind", mastermind_path
  = link_to "Statemachine", statemachine_path
  = link_to "Ajax", ajax_path
  |   |
  %a{href: "https://github.com/hrigu/rails_3_1_sandbox"} code
  %a{href: "mailto:chmuehlethaler@freesurf.ch"} contact

#leftcont
  %img{:alt => picture_url, :src =>  picture_url}
